<h1>Tour locations</h1>

<%= render 'form' %>
<%= link_to 'Back', tours_path %>

<div class="row">
  <div class="span8">
    <div id="tour_locations_box">
      <h1>Locations</h1>

      <table class="table table-striped" id="tour_locations_list">
        <thead>
          <tr>
            <th>№</th>
            <th>Itinerary</th>
          </tr>
        </thead>
        <tbody data-update-url="<%= sort_tour_locations_path(params[:tour_id]) %>">
          <%= render @locations %>
        </tbody>
      </table>
    </div>
  </div>
</div>
