<h1>Tour locations</h1>

<%= render 'form' %>
<%= link_to 'Back', tours_path %>

<div class="row">
  <div class="span8">
    <div id="tour_locations_box">
      <h1>Locations</h1>

      <table class="table table-striped" id="tour_locations_list">
        <thead>
          <tr>
            <th>№</th>
            <th>Itinerary</th>
          </tr>
        </thead>
        <tbody data-update-url="<%= sort_tour_locations_path(params[:tour_id]) %>">
          <%= render @locations %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal hide fade" id="location-select">
  <div class="modal-header">
    <h3>Choose location</h3>
  </div>
  <div class="modal-body" id="location-select-option">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Cancel</button>
    <button class="btn btn-primary" id="save-location-select">Save</button>
  </div>
</div>